@import
	url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@500&family=Roboto+Slab:wght@500&display=swap')
	;

.half_background {
	background: linear-gradient(to top, rgb(157, 216, 182) 40%, transparent
		30%);
}

.half_background2 {
	background: linear-gradient(to top, rgb(160, 223, 189) 0%, transparent
		20%);
}

.header {
	border: 1px solid;
	height: 150px;
}

.logo {
	text-align: center;
	border-radius: 5px 5px 5px 5px;
	height: 100px;
}

input[id='menuicon'] {
	display: none;
}

input[id='menuicon']+label {
	display: block;
	width: 30px;
	height: 20px;
	position: relative;
	transition: all .35s;
	cursor: pointer;
	bottom: 38px;
	left: 20px;
}

input[id='menuicon']+label span {
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	border-radius: 30px;
	background: rgb(255, 255, 255);
	transition: all .35s;
}

input[id='menuicon']+label span:nth-child(1) {
	top: 0;
}

input[id='menuicon']+label span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

input[id='menuicon']+label span:nth-child(3) {
	bottom: 0;
}

input[id='menuicon']:checked+label {
	z-index: 2;
}

input[id='menuicon']:checked+label span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg)
}

input[id='menuicon']:checked+label span:nth-child(2) {
	opacity: 0;
}

input[id='menuicon']:checked+label span:nth-child(3) {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg)
}

div[class='sidebar'] {
	width: 300px;
	height: 100%;
	background: rgb(129, 199, 172);
	position: fixed;
	top: 0;
	left: -300px;
	z-index: 1;
	transition: all .35s;
	opacity: 80%;
}

input[id='menuicon']:checked+label+div {
	left: 0;
}

.title {
	font-family: 'Noto Sans KR', sans-serif;
}

p {
	font-family: 'Noto Sans KR', sans-serif;
}

li {
	font-family: 'Noto Sans KR', sans-serif;
}

h5 {
	float: right;
}

h3 {
	padding-bottom: 40px;
	font-family: 'Do Hyeon', sans-serif;
	font-weight: bold;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	color: rgb(255, 254, 254)
}

h1 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

.btn {
	float: right;
}

.nav {
	text-align: center;
	background-color: #3d5a5b;
	border: 1px solid;
	height: 50px;
}

h4 {
	white-space: nowrap;
}

ul li {
	list-style: none;
}

a.color1 {
	text-decoration: none;
	color: white;
	font-family: 'Noto Sans KR', sans-serif;
}

a.color2 {
	color: white;
	font-size: 15px;
}

a:hover {
	color: black;
}

#menu {
	color: black;
	text-align: center;
}

#menu>ul>li {
	/* float:left; */
	display: inline-block;
	width: 140px;
	position: relative;
	font: bold 20px "malgun gothic";
	top: 7px;
}

#menu>ul>li>ul {
	width: 150px;
	display: none;
	z-index: 999;
	position: absolute;
	background: grey;
	padding: 12px;
}

#menu>ul>li:hover>ul {
	display: block;
}

#menu>ul>li>ul>li:hover {
	background: rgb(128, 184, 44);
	transition: ease 1s;
}

.div_box {
	max-width: 1280px;
	margin: 0 auto;
}

.div_box .items {
	display: table;
	table-layout: auto;
	width: 100%;
	height: 500px;
	word-break: break-all;
}

.div_box .items .item.left {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding-right: 16px;
}

.div_box .items .item.right {
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	padding-left: 12px;
}

.div_box .items .item .inner {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.div_box .items .item .inner:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}

.div_box .items .item .inner span {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.section {
	border: 1px solid;
	height: calc(100vh-300px);
}

.sec5 {
	text-align: center;
}

.after-login-text {
	color: rgb(0, 0, 0);
}

/*.carousel-control.left, .carousel-control.right {
	background-image: none;
}
.carousel3>.item>img {
	height: 400px;
	width: 100%;
}*/
.intro {
	padding: 100px;
	background-color: rgb(11, 75, 50);
	color: rgb(211, 218, 211);
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
	color: #00695c;
}

.carousel3>.item>img {
	height: 500px;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 30px;
}

.image {
	text-align: center;
}

h2 {
	text-align: center;
}

div.left {
	text-align: center;
	width: 20%;
	float: left;
}

div.right {
	padding: 40px;
	width: 80%;
	float: right;
	z-index: 2;
}

.dropdown {
	float: left;
}

.dropbtn_icon {
	font-family: 'Material Icons';
}

.dropbtn_icon {
	font-family: 'Material Icons';
}

.dropbtn {
	border: 1px solid rgb(37, 37, 37);
	border-radius: 4px;
	background-color: #f5f5f5;
	font-weight: 400;
	color: rgb(37, 37, 37);
	padding: 12px;
	width: 200px;
	text-align: left;
	cursor: pointer;
	font-size: 12px;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	/*다른 요소들보다 앞에 배치*/
	font-weight: 400;
	background-color: #f9f9f9;
	min-width: 200px;
}

.dropdown-content a {
	display: block;
	text-decoration: none;
	color: rgb(37, 37, 37);
	font-size: 12px;
	padding: 12px 20px;
}

.dropdown-content a:hover {
	background-color: #ececec
}

.dropdown:hover .dropdown-content {
	display: block;
}

.btn-group-vertical {
	display: block;
}

.color:link {
	color: white;
}

.color:hover {
	color: black;
}

.mainCon {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.mainTitle {
	text-align: center;
	font-size: 22px;
	padding: 20px;
	margin-left: 40px;
}

.mainTable {
	margin: 0 auto;
	padding: 50px;
	text-align: center;
}

.center {
	text-align: center;
	padding: 20px;
	font-size: 17px;
}

.footer {
	height: 100px;
}

.copyright {
	border: 1px solid;
	height: 50px;
	text-align: center;
	padding: 10px;
}

.agree {
	border: 1px solid #e6e6e6;
}

.agree>div {
	overflow: auto;
	height: 124px;
	padding: 26px 19px;
	font-size: 13px;
	color: #555;
	line-height: 16px;
}

.agree>p {
	background: #f8f8f8;
	border-top: 1px solid #e6e6e6;
	line-height: 43px;
	font-size: 13px;
	color: #222;
	text-indent: 19px;
}

/* 스타일 created by 허진 START */
.sec1 {
	text-align: center;
	margin: auto;
}

#demo {
	margin: 0 auto;
	width: 800px;
	height: 800px;
}

/* 스타일 created by 허진 END */