<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 일반게시판 쿼리 Mapper -->
<!-- 작성자 : 허진 -->
<!-- 작성일 : 2022-01-12 -->

<mapper namespace="com.javaEdu.board.mapper.BoardMapper">
 <!-- 게시판 리스트 : select -->
	<select id="list" resultType="com.javaEdu.board.vo.BoardVO">
		select * from(
		select rownum rnum, no, title, writer, writedate, hit
		from(
		select no, title, writer, writedate, hit 
		from board
		order by no desc
		)
	)
	where rnum between #{startRow} and #{endRow}
	</select>
 	<!-- 전체 데이터의 갯수를 구하는 쿼리 -->
 	<select id="getCount" resultType="integer">
 		select count(*) from board
 	</select>
</mapper>